
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.img{
    margin-top: -250px;
}
.head{
    font-family: "Lora", serif;
    font-weight: 300;
    font-size: 40px;
}